@font-face {
  font-family: 'Roboto-regular';
  src: url('~@/assets/fonts/Roboto-regular/Roboto-regular.eot'); /* IE 9 Compatibility Mode */
  src: url('~@/assets/fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('~@/assets/fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@/assets/fonts/Roboto-regular/Roboto-regular.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('~@/assets/fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~@/assets/fonts/Roboto-regular/Roboto-regular.svg#magnolia-script') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Roboto-bold';
  src: url('~@/assets/fonts/Roboto-bold/Roboto-bold.eot'); /* IE 9 Compatibility Mode */
  src: url('~@/assets/fonts/Roboto-bold/Roboto-bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('~@/assets/fonts/Roboto-bold/Roboto-bold.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@/assets/fonts/Roboto-bold/Roboto-bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('~@/assets/fonts/Roboto-bold/Roboto-bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~@/assets/fonts/Roboto-bold/Roboto-bold.svg#magnolia-script') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Roboto-light';
  src: url('~@/assets/fonts/Roboto-light/Roboto-light.eot'); /* IE 9 Compatibility Mode */
  src: url('~@/assets/fonts/Roboto-light/Roboto-light.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('~@/assets/fonts/Roboto-light/Roboto-light.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@/assets/fonts/Roboto-light/Roboto-light.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('~@/assets/fonts/Roboto-light/Roboto-light.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~@/assets/fonts/Roboto-light/Roboto-light.svg#magnolia-script') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Roboto-black';
  src: url('~@/assets/fonts/Roboto-black/Roboto-black.eot'); /* IE 9 Compatibility Mode */
  src: url('~@/assets/fonts/Roboto-black/Roboto-black.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('~@/assets/fonts/Roboto-black/Roboto-black.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@/assets/fonts/Roboto-black/Roboto-black.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('~@/assets/fonts/Roboto-black/Roboto-black.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~@/assets/fonts/Roboto-black/Roboto-black.svg#magnolia-script') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Roboto-medium';
  src: url('~@/assets/fonts/Roboto-medium/Roboto-medium.eot'); /* IE 9 Compatibility Mode */
  src: url('~@/assets/fonts/Roboto-medium/Roboto-medium.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('~@/assets/fonts/Roboto-medium/Roboto-medium.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@/assets/fonts/Roboto-medium/Roboto-medium.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('~@/assets/fonts/Roboto-medium/Roboto-medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~@/assets/fonts/Roboto-medium/Roboto-medium.svg#magnolia-script') format('svg'); /* Chrome < 4, Legacy iOS */
}

@font-face {
  font-family: 'Roboto-thin';
  src: url('~@/assets/fonts/Roboto-thin/Roboto-thin.eot'); /* IE 9 Compatibility Mode */
  src: url('~@/assets/fonts/Roboto-thin/Roboto-thin.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
    url('~@/assets/fonts/Roboto-thin/Roboto-thin.woff2') format('woff2'), /* Super Modern Browsers */
    url('~@/assets/fonts/Roboto-thin/Roboto-thin.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
    url('~@/assets/fonts/Roboto-thin/Roboto-thin.ttf') format('truetype'), /* Safari, Android, iOS */
    url('~@/assets/fonts/Roboto-thin/Roboto-thin.svg#magnolia-script') format('svg'); /* Chrome < 4, Legacy iOS */
}